Flask/ADS-FATEC/aula_1/venv/Scripts/
Flask/ADS-FATEC/aula_1/venv/.vscode/
Flask/ADS-FATEC/aula_1/venv/Lib/
Flask/ADS-FATEC/aula_1/venv/Include/
Flask/ADS-FATEC/aula_1/venv/pyvenv.cfg

Flask/ADS-FATEC/aula_1/venv2/pyvenv.cfg
Flask/ADS-FATEC/aula_1/venv2/Include/
Flask/ADS-FATEC/aula_1/venv2/Lib/
Flask/ADS-FATEC/aula_1/venv2/Scripts/

Flask/ADS-FATEC/aula_2/calculadora_imc/venv/Include/
Flask/ADS-FATEC/aula_2/calculadora_imc/venv/Lib/
Flask/ADS-FATEC/aula_2/calculadora_imc/venv/Scripts/
Flask/ADS-FATEC/aula_2/calculadora_imc/venv/pyvenv.cfg
Flask/ADS-FATEC/aula_2/calculadora_imc/venv/venv.rar

Flask/ADS-FATEC/aula_3/calculadora/myenv/Include/
Flask/ADS-FATEC/aula_3/calculadora/myenv/Lib/
Flask/ADS-FATEC/aula_3/calculadora/myenv/Scripts/
Flask/ADS-FATEC/aula_3/calculadora/myenv/pyvenv.cfg

Flask/ADS-FATEC/aula_3/venv/Include/
Flask/ADS-FATEC/aula_3/venv/Lib/
Flask/ADS-FATEC/aula_3/venv/Scripts/
Flask/ADS-FATEC/aula_3/venv/pyvenv.cfg

Flask/ADS-FATEC/aula_4/estoque/myenv

Flask/ADS-FATEC/aula_4/myenv/Include/
Flask/ADS-FATEC/aula_4/myenv/Lib/
Flask/ADS-FATEC/aula_4/myenv/Scripts/
Flask/ADS-FATEC/aula_4/myenv/pyvenv.cfg

Flask/ADS-FATEC/Prova1/venvP1/Include/
Flask/ADS-FATEC/Prova1/venvP1/Lib/
Flask/ADS-FATEC/Prova1/venvP1/Scripts/
Flask/ADS-FATEC/Prova1/venvP1/pyvenv.cfg