{% extends "index.html" %}

{% block content %}
    <h1>Cadastro de Usuario</h1>
    <form id="form_cadastro" action="/cadastrar_usuario" method="post">
        <div class="form-group" style="margin: 10px;">
            <label class="form-label">Nome</label>
            <input class='form-control' placeholder="Digite o nome" type="text" name="txt_nome"><br>
            <label class="form-label">CPF</label>
            <input class='form-control' placeholder="Digite o CPF" type="text" name="txt_cpf"><br>
            <label class="form-label">E-MAIL</label>
            <input class='form-control' placeholder="Digite o E-MAIL" type="email" name="txt_email"><br>
            <label class="form-label">Senha</label>
            <input class='form-control' placeholder="Digite o senha" type="password" name="txt_senha"><br>
            <br>
            <input id="btn_salvar" class="btn btn-primary" type="submit" name="sub_salvar" value="Salvar">
            <a class="btn btn-primary" href="/list_user">Listar</a>
        </div>
    </form>
    <script>
        document.getElementById("form_cadastro").addEventListener("submit", function(event){
            event.preventDefault();
            var confirmacao = confirm("Deseja cadastrar os dados inseridos?");
            if(confirmacao){
                this.submit();
                alert("Usuário cadastrado com sucesso.")
            }
        });
    </script>
{% endblock %}
